* {
    background-image: url('assets/images/fotoPerfilDienifer.png');
}

body {
    overflow-y: hidden; /* não cria barra de rolagem vertical */
    overflow-x: hidden; /* não cria barra de rolagem horizontal */
}

#textoApresentacao {
    width: 50%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 2;
}

figure {
    width: 50%;
    align-items: right;
    z-index: 2;
}

#fotoPerfil img {
    width: 80%;
    margin-left: 20%;
}

#bem-vindo {
    color: #9300a9;
    font-weight: bold;
}

#dieniferNome {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: #9300a9;
    padding-bottom: 2%;
    margin: 0 auto;
    border-right: 2px solid #9300a9;
}

.animation {
    animation: blinkCursor 500ms steps(40) infinite normal
}

@keyframes blinkCursor {
    from {
        border-right-color: #9300a9;
    }
    to {
        border-right-color: transparent;
    }
}

.canto {
	margin-top: -25%;
    margin-left: -20%;
    z-index: 1;
    opacity: 50%;
}