* {
    background-image: url('assets/images/fotoPerfilDienifer.png');
}

#centro-apresentacao {
    margin: -3% 10% 5% 10%;
}

#textoApresentacao {
    width: 50%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 2;
}

figure {
    width: 50%;
    align-items: right;
    z-index: 2;
}

#fotoPerfil img {
    width: 80%;
    margin-left: 20%;
}

#bem-vindo {
    color: #9300a9;
    font-weight: bold;
}

#dieniferNome {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: #9300a9;
    padding-bottom: 2%;
    margin: 0 auto;
    border-right: 2px solid #9300a9;
}

.animation {
    animation: blinkCursor 500ms steps(40) infinite normal
}

@keyframes blinkCursor {
    from {
        border-right-color: #9300a9;
    }
    to {
        border-right-color: transparent;
    }
}

.icon-redes {
    width: 10%;
    margin-right: 2%;
    margin-top: 2%;
}

.redes {
    z-index: 3;
    align-items: left;
}

.redes a {
    text-decoration: none;
}

.canto {
	margin-top: -25%;
    margin-left: -20%;
    z-index: 1;
    opacity: 50%;
}

@media (max-width: 600px) {
    #textoApresentacao {
        width: 100%;
    }
    
    figure {
        width: 100%;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    #fotoPerfil {
        width: 100%;
        align-items: center;
        padding: 0;
        margin: 5% 0 0 0;
    }

    #fotoPerfil img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #dieniferNome {
        font-size: 1.7rem;
    }

    .canto {
        margin-top: -50%;
    }

    .redes {
        margin-top: 4%;
    }

    #centro-apresentacao {
        margin: 10% 10% 5% 10%;
    }
}