* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#centro-projetos {
    text-align: center;
}

.titulo-projetos-recentes {
    width: 100%;
    margin-bottom: 0;
}

.titulo-projetos-recentes h1 {
    color: #9300a9;
    margin-bottom: 1%;
    font-weight: bold;
}

.card-projeto {
    display: flex;
    margin: 5% 10% 5% 10%;
    flex-wrap: wrap;
}

.card-texto p {
    border-left: 4px solid gray;
    padding-left: 3%;
}

.card-texto {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.card-texto a {
    text-align: center;
    margin-right: 3%;
    background-color: #770089;
    padding: 1.5%;
    border-radius: 10px;
    text-decoration: none;
}

a:hover {
    background-color: #9300a9;
    color: rgb(240, 240, 240);
    font-weight: normal;
}

.div-botoes {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.card-projeto figure {
    width: 35%;
    margin-right: 2%;
    margin-left: auto;
}

.card-projeto figure img {
    width: 100%;
    border-radius: 10px;
}

hr {
    width: 100%;
    height: 1px;
    border: 0px;
    border-top: 2px solid rgb(52, 52, 52);
}

@media (max-width: 1000px) {
    .titulo-projetos-recentes {
        margin-top: 5%;
    }

    .titulo-projetos-recentes h1 {
        font-size: 20px;
    }

    .titulo-projetos-recentes label {
        font-size: 15px;
    }
    .card-projeto figure {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .card-texto {
        width: 80%;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
    }

    .div-botoes {
        width: 70%;
        flex-direction: column;
        margin-top: 5%;
    }

    .card-texto a {
        margin-top: 5%;
    }
}